
* {
    box-sizing: border-box;
}

body {
    width: 100%;

}

h1 {
    text-align: center;
}

form {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 300px;
    padding: 28px;
    border-radius: 8px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    max-width: 360px;
    display: block;
    margin: 8px 0;
    padding: 8px 12px;
    font-size: 18px;
}

.input::placeholder {
    font-size: 14px;
}

.button {
    width: 100%;
    max-width: 360px;
    padding: 8px 0;
    cursor: pointer;
}